$baseClass : "sioca-map-popover-component";

.popover-arrow-icon-style {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    cursor: pointer;
}

.#{$baseClass} {
    transition: all 200ms linear;
    position: absolute;
    z-index: 700;
    background-color: white;
    padding: 5px;
    border-radius: 7px;

    &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        border-style: solid;
        border-width: 10px 10px 0;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 1;
        transform: translateX(-50%);
        left: 50%;
    }

    .#{$baseClass}-header {
        display: flex;
        height: auto;
        justify-content: flex-end;
        align-items: center;
    }

    .#{$baseClass}-body {
        padding: 5px 10px;
        font-size: 10px;
        max-height: 130px;
        overflow-y: auto;
    }

    .#{$baseClass}-footer {
        padding: 5px 10px;
        height: 15px;
        position: relative;
        display: flex;
        align-items: center;

        .#{$baseClass}-carousel-control {
            width: 40px;
            position: absolute;
            right: 10px;
            text-align: center;
            display: flex;

            .left {
                @extend .popover-arrow-icon-style;
            }

            .right {
                @extend .popover-arrow-icon-style;
            }
        }
    }
}
