.module-sioca {
  position: relative;
  width: 100%;
  height: 100%; }
  .module-sioca .module-sioca-toc-container {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2; }
    .module-sioca .module-sioca-toc-container .module-sioca-toc-menu-container {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .module-sioca .module-sioca-toc-container .module-sioca-toc-menu-container .module-sioca-toc-menu-item {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        height: 40px; }
  .module-sioca .module-sioca-map-node {
    width: 100%;
    height: 100%;
    z-index: 1; }

.sioca-map-side-bar-component {
  position: absolute;
  right: 0;
  height: 100%;
  width: 400px;
  pointer-events: none; }
  .sioca-map-side-bar-component .sioca-map-side-bar-component-general-container {
    position: relative;
    width: 100%;
    height: 100%; }
    .sioca-map-side-bar-component .sioca-map-side-bar-component-general-container .sioca-map-side-bar-component-toggle-button {
      pointer-events: all;
      position: absolute;
      background-color: #e4e0e0;
      cursor: pointer;
      left: 0;
      top: 0;
      height: 50px;
      width: 50px;
      transition: all 200ms linear;
      box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 3px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center; }
    .sioca-map-side-bar-component .sioca-map-side-bar-component-general-container .sioca-map-side-bar-component-side-bar {
      overflow: hidden;
      position: absolute;
      right: 0;
      height: 100%;
      width: 350px;
      background-color: #e4e0e0;
      transition: all 200ms linear;
      box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .sioca-map-side-bar-component .sioca-map-side-bar-component-general-container .sioca-map-side-bar-component-side-bar .sioca-map-side-bar-component-side-bar-content {
        position: relative;
        padding: 10px;
        height: calc(100% - 20px); }
        .sioca-map-side-bar-component .sioca-map-side-bar-component-general-container .sioca-map-side-bar-component-side-bar .sioca-map-side-bar-component-side-bar-content .sioca-map-side-bar-component-header {
          display: flex;
          align-items: center;
          height: 40px; }
        .sioca-map-side-bar-component .sioca-map-side-bar-component-general-container .sioca-map-side-bar-component-side-bar .sioca-map-side-bar-component-side-bar-content .sioca-map-side-bar-component-body {
          pointer-events: all;
          overflow-y: auto;
          height: calc(100% - 50px); }

.popover-arrow-icon-style, .sioca-map-popover-component .sioca-map-popover-component-footer .sioca-map-popover-component-carousel-control .left, .sioca-map-popover-component .sioca-map-popover-component-footer .sioca-map-popover-component-carousel-control .right {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  cursor: pointer; }

.sioca-map-popover-component {
  transition: all 200ms linear;
  position: absolute;
  z-index: 700;
  background-color: white;
  padding: 5px;
  border-radius: 7px; }
  .sioca-map-popover-component:after {
    content: "";
    position: absolute;
    bottom: -10px;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%; }
  .sioca-map-popover-component .sioca-map-popover-component-header {
    display: flex;
    height: auto;
    justify-content: flex-end;
    align-items: center; }
  .sioca-map-popover-component .sioca-map-popover-component-body {
    padding: 5px 10px;
    font-size: 10px; }
  .sioca-map-popover-component .sioca-map-popover-component-footer {
    padding: 5px 10px;
    height: 15px;
    position: relative;
    display: flex;
    align-items: center; }
    .sioca-map-popover-component .sioca-map-popover-component-footer .sioca-map-popover-component-carousel-control {
      width: 40px;
      position: absolute;
      right: 10px;
      text-align: center;
      display: flex; }

.sioca-map-toc-component {
  background-color: white;
  padding: 10px; }
  .sioca-map-toc-component .sioca-map-toc-component-tree * span {
    font-weight: 100; }
  .sioca-map-toc-component * {
    transition: all 50ms linear; }

.sioca-map-base-map-selector .sioca-map-base-map-selector-base-maps-container {
  display: flex;
  flex-flow: wrap;
  height: auto;
  justify-content: space-between;
  background-color: white;
  padding: 0 6px 6px; }
  .sioca-map-base-map-selector .sioca-map-base-map-selector-base-maps-container .sioca-map-base-map-selector-base-map-thumb {
    cursor: pointer;
    height: 100px;
    margin-top: 6px;
    position: relative; }
    .sioca-map-base-map-selector .sioca-map-base-map-selector-base-maps-container .sioca-map-base-map-selector-base-map-thumb:hover .map-title {
      opacity: 1; }
    .sioca-map-base-map-selector .sioca-map-base-map-selector-base-maps-container .sioca-map-base-map-selector-base-map-thumb:hover .thumb {
      opacity: 0.5; }
    .sioca-map-base-map-selector .sioca-map-base-map-selector-base-maps-container .sioca-map-base-map-selector-base-map-thumb .thumb {
      width: 100px;
      height: 100px;
      opacity: 1; }
    .sioca-map-base-map-selector .sioca-map-base-map-selector-base-maps-container .sioca-map-base-map-selector-base-map-thumb .map-title {
      text-align: center;
      position: absolute;
      font-size: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      z-index: 10; }

.sioca-map-legend-component-legend-container {
  background-color: white; }
  .sioca-map-legend-component-legend-container * {
    transition: all 100ms linear; }

.sioca-map-legend-component-sortable-list {
  padding: 10px; }

.sioca-map-legend-component-sortable-item {
  position: relative;
  overflow: hidden;
  z-index: 20;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  border-bottom: none; }

.sioca-map-legend-component-collapse-handle {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.sioca-map-legend-component-sortable-item:last-child {
  border-bottom: 1px solid #efefef; }

.sioca-map-legend-component-sortable-handle {
  margin-bottom: 5px;
  display: flex; }

.handle-container {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.handle {
  position: relative;
  width: 15px;
  height: 10px;
  opacity: .25;
  cursor: row-resize;
  background: -webkit-linear-gradient(top, #000, #000 20%, #fff 0, #fff 40%, #000 0, #000 60%, #fff 0, #fff 80%, #000 0, #000);
  background: linear-gradient(180deg, #000, #000 20%, #fff 0, #fff 40%, #000 0, #000 60%, #fff 0, #fff 80%, #000 0, #000); }

.title {
  display: flex;
  align-items: center; }

.sioca-map-legend-component-not-found {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

#root {
  font-family: "Roboto", sans-serif !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
